body {
    margin: 32px;
    background-color: #F9F7F7;
}

h1 {
    font-size: xx-large;
}

p {
    font-size: large;
}

li {
    font-size: larger;
    margin-bottom: 8px;
}

a {
    padding: 8px;
}

.text-highlight {
    background: #DBE2EF;
    border-left: 4px solid #007bff;
    padding: 1.5rem;
    border-radius: 8px;
}